## **One-sample z-test**


H0 : The mean runs scored by teams in particular innings in 2023 is less than or equal to 175

H1 : The mean runs scored by teams in particular innings in 2023 is greater than 175

In [17]:
import pandas as pd
import numpy as np
import math

In [18]:
data=pd.read_csv('./data/runs_scored_by_innings_2023.csv')
data.head()

         Date  Innings                   Team  Runs Scored
0  2023-03-31        1    Chennai Super Kings          178
1  2023-03-31        2         Gujarat Titans          182
2  2023-04-01        1           Punjab Kings          191
3  2023-04-01        1   Lucknow Super Giants          193
4  2023-04-01        2  Kolkata Knight Riders          146

In [19]:


runs_array=data['Runs Scored'][:60]  # took a sample of 60 innings

print("sample size : ",len(runs_array))

n=len(runs_array)

population_mean=175

mean = np.mean(runs_array)
std_dev = np.std(runs_array)


print("sample standard deviation",std_dev)
print("sample mean",mean)

sample size :  60
sample standard deviation 28.706542034100092
sample mean 171.96666666666667

In [20]:
z_tab=2.576     # alpha=0.01  one-tailed test



z_cal=(mean-population_mean)/(std_dev/math.sqrt(n))

print("z cal : ",z_cal)

if(abs(z_cal)>z_tab):

    print('Reject H0')
else:
    print('Accept H0')

z cal :  -0.8184928348068174
Accept H0

99% confidence interval

In [21]:
lower_limit= mean-(z_tab*(std_dev/math.sqrt(n)))
upper_limit= mean+(z_tab*(std_dev/math.sqrt(n)))


print(lower_limit,"< mu <",upper_limit)

162.42001416785658 < mu < 181.51331916547676