## **one-sample t-test**

H0 : Average runs scored by RCB in seasons from 2007-2023 is equal to 2200

H1 : Average runs scored by RCB in seasons from 2007-2023 is not equal to 2200

n=16  alpha=5%  two-tailed test

In [19]:
import pandas as pd
import numpy as np

In [20]:
data=pd.read_csv('./data/runs_by_season_and_team.csv')
data.head()

    Season                         Team  Total Runs
0  2007/08  Royal Challengers Bangalore        1983
1  2007/08               Mumbai Indians        2080
2     2009  Royal Challengers Bangalore        2280
3     2009               Mumbai Indians        1897
4  2009/10  Royal Challengers Bangalore        2401

In [21]:
rcb_scores = data[data['Team'] == 'Royal Challengers Bangalore']['Total Runs']
n=16
population_mean=2200
print(len(rcb_scores))

mean = np.mean(rcb_scores)  #sample mean
std_dev = np.std(rcb_scores) #sample standard deviation


print("standard deviation",std_dev)
print("mean",mean)

16
standard deviation 260.2845798352257
mean 2355.75

In [22]:
import math
t_calculated=abs(mean-population_mean)/(std_dev/math.sqrt(n-1))
print(t_calculated)

2.3175293617227513

In [23]:
t_tabulated=2.13    # t_tab for alpha=5% and df=(n-1)=(16-1)=15 is 2.13

if t_calculated<=t_tabulated:
  print("Accept Ho ")
else:
  print("Reject Ho")

Reject Ho

95% confidence interval

In [24]:
print("Confidence interval is:")
print(mean-(t_tabulated*(std_dev/math.sqrt(n-1)))," to ",mean+(t_tabulated*(std_dev/math.sqrt(n-1))))

Confidence interval is:
2212.602946297348  to  2498.897053702652