## **Runs Test:**

we are using data which contains runs scored by a team in 2023 IPL Season.

alpha = 5%

H0 : the data was picked randomly

H1 : the data was not picked randomly

In [54]:
import pandas as pd
import copy

In [55]:
data=pd.read_csv('./data/runs_scored.csv')

data.head()

         Date                   Team  Runs Scored
0  2023-03-31    Chennai Super Kings          178
1  2023-03-31         Gujarat Titans          182
2  2023-04-01           Punjab Kings          191
3  2023-04-01  Kolkata Knight Riders          146
4  2023-04-01   Lucknow Super Giants          193

In [56]:
print(data['Runs Scored'])

0      178
1      182
2      191
3      146
4      193
      ...
142    182
143    233
144    171
145    171
146    214
Name: Runs Scored, Length: 147, dtype: int64

In [57]:
runs=[]
for i in data['Runs Scored']:
    runs.append(i)

sample_runs=runs[:30]

print(sample_runs)

sample_runs_copy=copy.deepcopy(sample_runs)

[178, 182, 191, 146, 193, 143, 203, 131, 171, 172, 217, 205, 163, 162, 197, 192, 204, 123, 127, 121, 159, 142, 199, 157, 204, 143, 207, 145, 213, 212]

In [58]:
sample_runs.sort()
print(sample_runs)

[121, 123, 127, 131, 142, 143, 143, 145, 146, 157, 159, 162, 163, 171, 172, 178, 182, 191, 192, 193, 197, 199, 203, 204, 204, 205, 207, 212, 213, 217]

In [59]:
median_index=len(sample_runs)//2
median=sample_runs[median_index]

print(f'median : {median}')

runs=[]

for i in sample_runs_copy:
  if i>median:
    runs.append('A')
  elif i<median:
    runs.append('B')
  else:
    runs.append('0')

print("the runs sequence is :",runs)

a_count=runs.count('A')
b_count=runs.count('B')
zero_count=runs.count('0')

median : 178
the runs sequence is : ['0', 'A', 'A', 'B', 'A', 'B', 'A', 'B', 'B', 'B', 'A', 'A', 'B', 'B', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A']

In [60]:
beg=runs[0]
num_runs=0
num_zero=0
num_A=0
num_B=0
for i in runs:
  if i=='A':
    num_A+=1
  elif i=='B':
    num_B+=1

  if i == beg and i!='0':
    continue
  elif i==beg and i=='0':
    beg=i
    num_zero+=1
  elif i!=beg and i!='0':
    num_runs+=1
    beg=i
  elif i!=beg and i=='0':
    num_runs+=1
    num_zero+=1
    beg=i
  else:
    print("exception case")

print("number of runs is :",num_runs)
print("number of zeros in runs sequence is :",zero_count)
print("number of As are :",a_count)
print("number of Bs are :",b_count)

number of runs is : 17
number of zeros in runs sequence is : 1
number of As are : 14
number of Bs are : 15

In [61]:
#n1=14 and n2=15 , using the table for alpha=5% we get r1 and r2 as : 9, 22
r1=9
r2=22 

if r1<=num_runs<=r2:
  print("Accept H0, the data was selected randomly")
else:
  print("Reject H0, Accept H1 , the data was not picked randomly")

Accept H0, the data was selected randomly